%head
  %meta{charset: "utf-8"}
  %meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=edge'}

  %title= page_title(site_name)
  %meta{name: "description", content: page_description}

  = favicon_link_tag 'favicon.ico'
