extends layout

block content
  div.large-12.small-12.columns
    div.large-4.small-12.columns
      p Mauris porttitor <br />felis eu leo aliquet<br /> ac rutrum odio aliquet
    div.large-4.small-12.columns
      p Mauris porttitor <br />felis eu leo aliquet<br /> ac rutrum odio aliquet
    div.large-4.small-12.columns
      p Mauris porttitor <br />felis eu leo aliquet<br /> ac rutrum odio aliquet
