doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/assets/foundation.min.css')
    link(rel='javascript', href='/assets/foundation.min.js')
  body
    div.row
      div.top-bar
        div.top-bar-left
          ul.drop.menu(data-dropdown-menu)
            li.menu-text Haus
            li 
              a(href="/") Home
            li 
              a(href="/about") About
            li 
              a(href="/contact") Contact
